<main>
	<div class="row">
		<div class="white col s8 offset-s2">
			<h1>My Machines</h1>
			<div class="divider"></div>
			<div class="col s4">
				<ul class="collection">
				  <li class="collection-item">Hauz Khas Machine</li>
				  <li class="collection-item">Gurgaon Machine</li>
				  <li class="collection-item">Bhopal Machine</li>
				  <li class="collection-item">Thapar Machine</li>
				  <li class="collection-item">Connaught Machine</li>
				  <li class="collection-item">Noida Machine</li>
				</ul>
			</div>
		</div>
	</div>
</main>
