<main>
	  <div class="row">
		  <div class="white col s7 offset-s2">
			  <h1>My Profile</h1>
			  <div class="divider"></div>
			  <span class="secondary-content">Wendor Wallet: Rs. 0.00</span>
			  <div class="row">
				<div class="col s12">
				  <ul class="tabs">
					<li class="tab col s3"><a class="active" href="#tab1">Personal Details</a></li>
					<li class="tab col s3"><a href="#tab2">Passbook</a></li>
					<li class="tab col s3"><a href="#tab3">Money Added</a></li>
					<li class="tab col s3"><a href="#tab4">Your Orders</a></li>
				  </ul>
				</div>
				<div id="tab1" class="col s12">
					<ul class="collection">
						<li class="collection-item avatar">
							<img src="/images/user-image.png" alt="" class="circle">
							<span class="title">Praful Goyal</span>
							<p>Email: praful@gmail.com<br>
								Phone: 123456789<br>
								City: Noida<br>
								Status: Verified
							</p>
							<a href="#!" class="secondary-content"><i class="material-icons">create</i></a>
						</li>
						<li class="collection-item avatar">
							<i class="fab fa-facebook circle"></i>
							<span class="title">Facebook</span>
							<p>Email: praful@gmail.com
							</p>
							<a href="#!" class="secondary-content"><i class="material-icons">create</i></a>
						</li>
						<li class="collection-item avatar">
							<img src="/images/paytm.png" alt="" class="circle">
							<span class="title">Paytm</span>
							<p>Status: Connected<br>
							</p>
							<a href="#!" class="secondary-content"><i class="material-icons">create</i></a>
						</li>
						<li class="collection-item avatar">
							<img src="/images/upi.jpg" alt="" class="circle">
							<span class="title">UPI</span>
							<p>Status: Connected<br>
							</p>
							<a href="#!" class="secondary-content"><i class="material-icons">create</i></a>
						</li>
					</ul>
				</div>
				<div id="tab2" class="col s12">
					<ul class="collection">
						<li class="collection-item avatar">
						  <i class="green material-icons circle">add</i>
						  <span class="title">Money Received</span>
						  <p>From: Praful Goyal<br>
							 On: 27-07-2018 14:26<br>
							 Payment Id:78455689
						  </p>
						  <a href="#!" class="btn secondary-content red">+ Rs. 231.00</a>
						</li>
						<li class="collection-item avatar">
						  <i class="material-icons circle">remove</i>
						  <span class="title">Money Paid</span>
						  <p>To: Vipul Goyal<br>
							 On: 24-07-2018 20:18<br>
							 Payment Id:78455689
						  </p>
						  <a href="#!" class="btn secondary-content red">- Rs. 121.00</a>
						</li>
						<li class="collection-item avatar">
							<i class="green fas fa-gift circle"></i>
						  <!-- <i class="material-icons circle green">card_giftcard</i> -->
						  <span class="title">Cashback Received</span>
						  <p>Order Id: 123456789<br>
							 On: 20-07-2018 12:21<br>
							 Payment Id:78455689
						  </p>
						  <a href="#!" class="btn secondary-content red">+ Rs. 100.00</a>
						</li>
						<li class="collection-item avatar">
						  <i class="material-icons circle red">add</i>
						  <span class="title">Money Added to Wendor Wallet</span>
						  <p>From: SBI BANK<br>
							 On: 10-07-2018 15:45<br>
							 Payment Id:78455689
						  </p>
						  <a href="#!" class="btn secondary-content red">+ Rs. 500.00</a>
						</li>
					  </ul>
				</div>
				<div id="tab3" class="col s12">
					<ul class="collection">
						<li class="collection-item avatar">
						  <i class="green material-icons circle">add</i>
						  <span class="title">Money Received</span>
						  <p>From: Praful Goyal<br>
							 On: 27-07-2018 14:26<br>
							 Payment Id:78455689
						  </p>
						  <a href="#!" class="btn secondary-content red">+ Rs. 231.00</a>
						</li>
						<li class="collection-item avatar">
						  <i class="material-icons circle red">add</i>
						  <span class="title">Money Added to Wendor Wallet</span>
						  <p>From: SBI BANK<br>
							 On: 10-07-2018 15:45<br>
							 Payment Id:78455689
						  </p>
						  <a href="#!" class="btn secondary-content red">+ Rs. 500.00</a>
						</li>
						<li class="collection-item avatar">
						  <i class="material-icons circle green">card_giftcard</i>
						  <span class="title">Cashback Received</span>
						  <p>Order Id: 123456789<br>
							 On: 20-07-2018 12:21<br>
							 Payment Id:78455689
						  </p>
						  <a href="#!" class="btn secondary-content red">+ Rs. 100.00</a>
						</li>
					</ul>
				</div>
				<div id="tab4" class="col s12">
					<ul class="collection">
						<li class="collection-item avatar">
						  <i class="green material-icons circle">check</i>
						  <span class="title">Order Name</span>
						  <p>Order Id: 987654321<br>
							 On: 27-07-2018 14:26<br>
						     Status: Successful
						  </p>
						  <a href="#!" class="btn secondary-content red">Rs. 231.00</a>
						</li>
						<li class="collection-item avatar">
						  <i class="blue material-icons circle">access_time</i>
						  <span class="title">Order Name</span>
						  <p>Order Id: 987654320<br>
							 On: 26-07-2018 14:26<br>
						     Status: Processing
						  </p>
						  <a href="#!" class="btn secondary-content red">Rs. 441.00</a>
						</li>
						<li class="collection-item avatar">
						  <i class="red material-icons circle">block</i>
						  <span class="title">Order Name</span>
						  <p>Order Id: 987654319<br>
							 On: 25-07-2018 14:26<br>
						     Status: Failed
						  </p>
						  <a href="#!" class="btn secondary-content red">Rs. 31.00</a>
						</li>
					</ul>
				</div>
			  </div>
		  </div>
	  </div>
  </main>
