html {
  background: url(/images/bac.jpg) no-repeat center fixed;
  background-size: cover;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
.pin-top {
    position: relative;
  }
.pin-bottom {
    position: relative;
  }
.pinned {
    position: fixed !important;
    margin-left: 1012px !important;
    width: 100%;
  }
h1 {
    margin: 0 0 10px 0;
    font-weight: 400;
    font-size: 45px;
    font-family: "Bradley Hand ITC" ;
}
h5 {
    margin: 0 0 5 0;
    font-weight: 400;
    font-size: 30px;
    font-family: "Monotype Corsiva" ;
}
